// ------ Note Bar ------
@import "../../../Theme.scss";

.noteBar {
  width: 100%;
  height: 60px;
  border-bottom: $borderGreyLight;
  //   background-color: lightgreen;

  .noteBar__container {
    width: 90%;
    height: 100%;
    // background-color: lightcoral;
    margin: 0px auto;

    @include flexbox;

    .noteBar__fileName {
      width: calc((100% - 420px));
      height: 100%;
    //   background-color: lightblue;

      @include flexbox;
      justify-content: flex-start;

      p {
        color: $grey;
      }
    }
    .noteBar__users {
      width: 200px;
      height: 100%;
      //   background-color: lightcoral;
      @include flexbox;
      justify-content: flex-end;
      position: relative;

      .noteBar__users__online {
        width: 100%;
        height: 100%;
        // background-color: lightcoral;
        @include flexbox;
        justify-content: flex-end;
        .noteBar__user {
          width: 45px;
          height: 45px;
          position: absolute;
          &:nth-child(1) {
            right: 30px;
            z-index: 1;
          }

          &:nth-child(2) {
            right: 55px;
            z-index: 2;
          }
          &:nth-child(3) {
            right: 80px;
            z-index: 3;
          }

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid $red;
          }
        }
      }

      .noteBar__defaultUser {
        width: 45px;
        height: 45px;

        div {
          background-color: $red;

          border-radius: 50%;
          border: 2px solid $red;
          width: 40px;
          height: 40px;

          @include flexbox;

          p{
            color: $white;
          }
        }
      }
    }
    .noteBar__share {
      width: 200px;
      height: 100%;
    //   background-color: lightseagreen;
      @include flexbox;

      button {
        @include ButtonRedDark;
        width: 80%;
      }
    }
    .noteBar__settings {
      width: 20px;
      height: 100%;
    //   background-color: lightblue;

      @include flexbox;
      .noteBar__settings__icon {
        color: $greyIconsDark;
        cursor: pointer;
      }
    }
  }
}
