@import '../../../Theme.scss';

.usercircles {
  width: 100%;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; 
  .usercircles_header {
    p {
      text-align: center;
      font-family: 'Roboto';
      color: #0f96c3;
      font-size: 20px;
      font-weight: 700;
      margin-top: 40px;
      line-height: 33px;
    }
  }
  .usercircles_header_container {
    margin-top: 70px;
    margin-left: 0px;
    margin-bottom: 0px;
    display: flex;
    width: 100%;
    // background-color: aqua;
    // padding-top: 42px;

    .usercircle_create_button{
      width:20%;
      display: flex;

    button.usercircles_button {
      background-color: #0f96c3;
      color: $white;
      background: #0f96c3;

      border: 2px solid #0f96c3;
      //   box-sizing: border-box;
      width: 150px;
      height: 40px;
      margin-left: 30%;
      .plus_button {
        // color: white;
        margin-left: -10px;
      }
      span {
        margin-left: 5px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
      }

      &:hover{
        background-color: $white;
        color:#0f96c3;
      }
    }
  }
    // .usercircles_search_box {
    //   background: #ffffff;
    //   border: 1px solid rgba(68, 78, 99, 0.3);
    //   box-sizing: border-box;
    //   width: 220px;
    //   height: 40px;
    //   margin-left: 45%;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   .usercircles_search_form {
    //     width: 85%;
    //     form {
    //       input[type='text'] {
    //         width: 100%;
    //         padding: 6px;
    //         margin-right: 16px;
    //         border: none;
    //         font-family: 'Roboto';
    //         font-style: normal;
    //         font-weight: 400;
    //         font-size: 14px;
    //         line-height: 16px;
    //         &:focus {
    //           outline: none !important;
    //         }
    //       }
    //     }
    //   }
    //   .icon {
    //     color: rgba(199, 202, 208, 1);
    //   }
    // }
    .usercircles__search {
      width: 95%;
      height: 75px;
      // background-color: coral;
    }
    .usercircles_filter_box {
      background: #ffffff;
      border: 1px solid rgba(68, 78, 99, 0.3);
      box-sizing: border-box;
      width: 270px;
      height: 40px;
      margin-left: 5%;
      display: flex;
      .usercircles_filter_dropdown {
        width: 300px;
        margin: 6px auto;
        .usercircles_filter_dropdown_button {
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            margin-left: 5px;
          }
  
      .dropdown_icon {
        width: 10%;
        color: rgba(199, 202, 208, 1);
        margin-top: 3px;
        margin-left: -10px;
      }
    }
    .usercircles_filter_dropdown_content {
      position: absolute;
      padding: 7px;
      background: white;
      box-sizing: border-box;
      border: 1px solid rgba(68, 78, 99, 0.3);
      width: 17.78%;
      margin-left: -1px;
      
      .usercircles_filter_dropdown_item {
        cursor:pointer;
        transition: all 0.2s;
        margin-top: 20px;
        
        
        p{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color:black;}
      
      &:hover{
        background: rgb(248, 248, 250);
      }
    }
    }
  }
  }
    }
    .User_Circles_List{

      width: 95%;
      min-height: 800px;
      // background-color: lightgreen;
      margin: 0px auto;
    .usercircles__header {
      width: 100%;
      height: 75px;
      // background-color: lightseagreen;
      margin-top: 130px;
  
      // @include flexbox;
    }
    .usercircles__items {
      width: 100%;
      min-height: 400px;
      // background-color: lightblue;
    }
  }
  }
