//---------Whiteboard Sharing Page---------
@import '../../../Theme.scss';

.boardshare{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    .boardshare_header{
        p{
            text-align: center;
            font-family: 'Roboto';
            color: #0f96c3;
            font-size: 22px;
            font-weight: 700;
            margin-top: 40px;
            line-height: 33px;
        }
    }

    .boardshare_details{
        margin-bottom: 30px;
        margin-left: 10px;
        width: 100%;
        display: flex;
        align-content: center;

        .boardshare_icon{
            width: 17%;
            display: flex;
            justify-content: flex-end;

            img{
                height: 200px;
                width: 200px;
            }
        }

        .boardshare_details_list{
            margin-top: 48px;
            margin-left: 5%;
            width: 80%;

            .boardshare_detail, .boardshare_details_datemodified{
                padding-bottom: 14px;
                display: flex;
                font-family: 'Roboto';
                font-size: 16px;
                font-weight: 400;

                p1{
                    color: #0f96c3;
                }

                p2 {
                    color: #444E63;
                    font-style: normal;
                }
            }
        }
    }
    .boardshare_download{
        margin-left: 5%;
        margin-top: -40px;
        width: 100%;

        p{
            font-family: 'Roboto';
            color: #0f96c3;
            font-size: 20px;
            font-weight: 700;
            border-bottom: $borderGreyLight;
            padding-bottom: 15px;
        }

        p2{
            font-family: 'Roboto';
            color: #444E63;
            font-size: 20px;
            font-weight: 600;
            padding-top: 20px;
            padding-bottom: 40px;
        }

        .boardshare_download_body{
            width: 90%;
            padding-top: 20px;
            display: flex;
        

            .boardshare__filetypebox{
                margin-left: 50px;
                width: 35%;
                height: 100%;
                padding-top: 15px;
                padding-bottom: 40px;

                @include flexbox;
                justify-content: flex-end;
                position: relative;

                
                select{
                    width: 100%;
                    height: 40px;
                    background-color: white;
                    cursor: pointer;

                    padding: 10px;
                    -moz-appearance: none;
                    -webkit-appearance: none;

                    color: grey;
                    outline: none;
                    border: $borderGreyLight;
                    box-sizing: border-box;

                    &:focus{
                        border: $borderGreyLight;
                        border-color: $blue;                    
                    }
                }
                .boardshare__linkaccessbox__icon {
                    position: absolute;
                    right: 8px;
                    color: $greyIconsLight;
                    cursor: pointer;
                }

            }
            
            button.boardshare_download_button{
                background-color: #0f96c3;
                color: $white;
                background: #0f96c3;
                display: block;
                cursor: pointer;
                border: 2px solid #0f96c3;
                width: 150px;
                margin-top: 15px;
                height: 100%;
                padding: 8px;
                margin-left: 30px;
            
            
                span {
                    height: 35px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    font-stretch: 1000%;
            
                }
            }
        }
    }
    .boardshare_getlink{
        margin-left: 5%;
        //margin-top: -40px;
        width: 90%;

        p {
            font-family: 'Roboto';
            color: #0f96c3;
            font-size: 20px;
            font-weight: 700;
            border-bottom: $borderGreyLight;
            padding-bottom: 10px;
        }

        .boardshare_getlink_body{
            margin-top: 40px;
            display: flex;
        

        .boardshare__linkbox{
            width: 60%;
            height: 100%;

            @include flexbox;
            justify-content: flex-start;
            position: relative;

            input{
                width: 100%;
                height: 35px;
                padding: 10px;

                color: $grey;
                outline: none;
                border: $borderGreyLight;
                box-sizing: border-box;
                font-size: $font-small;

                &:focus {
                    border: $borderGreyLight;
                    border-color: $blue;
                }
            }
            
        }
        .boardshare__linkaccessbox {
            width: 20%;
            height: 100%;

            @include flexbox;
            justify-content: flex-end;
            position: relative;

            select {
                width: 100%;
                height: 35px;
                background: $white;
                cursor: pointer;

                margin-left: 20px;
                padding: 5px;
                -moz-appearance: none;
                -webkit-appearance: none;

                color: $grey;
                outline: none;
                border: $borderGreyLight;
                box-sizing: border-box;

                &:focus {
                    border: $borderGreyLight;
                    border-color: $blue;
                }
            }

            .boardshare__linkaccessbox__icon {
                position: absolute;
                right: 8px;
                color: $greyIconsLight;
                cursor: pointer;
            }
        }

        button.boardshare_getlink_button {
            background-color: #0f96c3;
            color: $white;
            background: #0f96c3;
            display: block;
            cursor: pointer;

            border: 2px solid #0f96c3;
            //   box-sizing: border-box;
            width: 15%;
            height: 100%;
            padding: 6px;
            margin-left: 3%;
            
            
                span {
                    height: 35px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    font-stretch: 1000%;
            
                }
            }
            }
    }
    
}