//------ User Profile Page ------
@import "../../Theme.scss";
 
.profile__page {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    font-family: "Roboto";
    font-style: normal;
 
    .profile__container {
      width: 700px;
      height: 1147px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      margin-bottom: 100px;
      background-color: #ffffff;
      box-shadow: 0px 0px 10px -2px rgba(68, 78, 99, 0.3);
      border-radius: 20px;
 
      .profile__pic {
        width: 50px;
        background-color: #ffffff;
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 50px;
        align-items: center;
 
        img {
          height: 150px;
          width: 150px;
          border-radius: 100%;
          border: 2px solid $blue;
          margin-left: auto;
          margin-right: auto;
          cursor: pointer;
        }
      }
 
      .profile__heading {
        margin-top: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
 
        p {
          color: #0f96c3;
          padding-left: 45px;
          padding-bottom: 5px;
          font-weight: 500;
          font-size: 28px;
          line-height: 33px;
        }
 
        hr {
          width: 600px;
          border: 1px solid #444e63;
          opacity: 0.4;
          margin-left: 45px;
        }
 
        input[type="email"] {
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
          width: 600px;
          height: 40px;
          border: 1px solid #444e63;
          opacity: 0.4;
          line-height: 16px;
        }
      }
 
      .profile__details{
          margin-top: 10px;
          width: 600px;
          margin-left: 45px;
          font-family: 'Roboto';
 
          .container{
              padding-left: 7px;
          }
 
          h3{
              color: #0f96c3;
          }
 
          p2{
            font-size: 18px;
            font-weight: 350;
            color: #444e63;
            //padding-left: 10px;
          }
          hr{
              opacity: 0.3;
          }
          .bio{
              text-align: justify;
          }
      }
 
      .buttons {
        margin-top: 80px;
        justify-content: space-between;
        margin-left: 60%;
 
        button {
          width: 200px;
          height: 40px;
          font-size: 12px;
          font-weight: 700;
          cursor: pointer;
          opacity: 0.8;
 
          &:hover {
            opacity: 1;
          }
        }
 
        button.edit {
          background-color: #0f96c3;
          border: none;
          color: #ffffff;
          margin-right: 10%;
        }
      }
 
     
    }
  }
