@import "../../Theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Julius+Sans+One&family=Overpass:wght@100;200;300;400;500&family=Poppins:wght@600&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.whiteboard__container{
  justify-content: center;
  align-items: center;
  height: 620px;
}
.toolbar{
  border-radius: 5px;
  background: #f9f9f9;
  width: fit-content;
  box-shadow: -1px 1px 10px 1px#c2c1c1;
  z-index: 1;
  margin-bottom: 5px;
  margin-top: 20px;
   justify-content: center;
  position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

  .tools__container{
    position: sticky;
    top: 0;
  }
}


.toolbar__btn{
  background: #f9f9f9;
  text-align: center;
  width: 45px;
  margin: 5px;
  border-style: none;
  color: rgb(52, 52, 102);
 border-radius:5px;
 font-family: 'Poppins', sans-serif;
}
.toolbar__btn:hover{
  background: #cecfdf;
  cursor:pointer;
  transition: 0.7s;
}
.toolbar__btn:active {
  background: #cecfdf;
}

.toolbar-icon-img{
    margin-top: 2px;
}
.stage__container{
  height: 620px;
}
.canvas-stage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;
}
.canvas-layer{
 width: 100%;
 height: 100%;
}
