// ------ dashNote ------
@import "../../../Theme.scss";

.dashNote {
  width: 90%;
  min-height: 800px;
  // background-color: lightgreen;
  margin: 0px auto;

  .dashNote__l1 {
    width: 100%;
    height: 75px;
    // background-color: lightcoral;

    @include flexbox;
    justify-content: flex-start;

    p {
      color: $grey;
      font-weight: 500;
      font-size: $font-extra-large;
    }
  }
  .dashNote__l2 {
    width: 100%;
    height: 30px;
    // background-color: lightblue;

    @include flexbox;
    justify-content: flex-start;

    p {
      font-size: $font-small;
      color: $grey;
    }
  }
  .dashNote__cards {
    width: 100%;
    height: 300px;
    // background-color: lightpink;

    margin-top: 10px;
    padding-top: 10px;
    .swiper {
      height: 300px;
      padding-left: 5px;
    }
    span.swiper-pagination-bullet {
      // background-color: $blue;
    }
  }
  .dashNote__search {
    width: 100%;
    height: 75px;
    // background-color: coral;
  }
  .dashNote__header {
    width: 100%;
    height: 75px;
    // background-color: lightseagreen;

    @include flexbox;
  }
  .dashNote__items {
    width: 100%;
    min-height: 400px;
    // background-color: lightblue;
  }
}
