//---------Sharing Page---------
@import '../../Theme.scss';

.share {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    .share_header {
        p {
            text-align: center;
            font-family: 'Roboto';
            color: #0f96c3;
            font-size: 25px;
            font-weight: 700;
            margin-top: 40px;
            margin-bottom: 20px;
            line-height: 33px;
        }
    }

    .share_details {
        margin-bottom: 60px;
        margin-left: 20px;
        width: 100%;
        display: flex;
        align-content: center;

        .share_icon {
            width: 20%;
            display: flex;
            justify-content: flex-end;
            margin-top: 15px;

            img {
                height: 180px;
            }
        }

        .share_details_list {
            margin-top: 48px;
            margin-left: 5%;
            width: 80%;

            .share_detail,
            .share_details_datemodified {
                padding-bottom: 14px;
                display: flex;
                font-family: 'Roboto';
                font-size: 16px;
                font-weight: 400;

                p1 {
                    color: #0f96c3;
                }

                p2 {
                    color: #444E63;
                    font-style: normal;
                }
            }
        }
    }

    .share_linkgroup {
        margin-left: 5%;
        margin-top: 40px;
        width: 90%;

        .share_linkgroup_header {
            p {
                font-family: 'Roboto';
                color: #0f96c3;
                font-size: 20px;
                font-weight: 700;
                border-bottom: $borderGreyLight;
                padding-bottom: 10px;
            }
        }

        button.share_linkgroup_button {
            margin-top: 30px;
            background-color: #0f96c3;
            color: $white;
            background: #0f96c3;
            display: block;
            border: 2px solid #0f96c3;
            width:350px;
            height: 40px;
            padding: 6px;
            margin-left: auto;
            cursor: pointer;

            span {
                height: 35px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                font-stretch: 1000%;

            }
        }
    }

    .share_list_header {
        display: flex;
        border-top: $borderGreyLight;
        border-bottom: $borderGreyLight;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 5%;
        margin-top: 40px;
        width: 90%;

        .share_list_header_title1 {
            // background-color:aquamarine;
            width: 50%;
            margin-left: 5%;

            p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #0F96C3;
            }
        }

        .share_list_header_title2 {
            //background-color:aquamarine;
            width: 50%;
            margin-left: 25%;

            p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #0F96C3;
            }
        }
    }


    .share_list_items {
        margin-left: 5%;
        padding-top: 10px;
        width: 90%;
        display: flex;
        border-bottom: $borderGreyLight;
        padding-bottom: 10px;

        .share_list_item__Icon {
            width: 70px;
            height: 100%;
            // background-color: lightpink;

            @include flexbox;

            img {
                height: 40px;
                width: 40px;

                border-radius: 50%;
                border: 2px solid $blue;
                cursor: pointer;
            }
        }

        .share_list_item__Name {
            width: calc((100% - 150px) * 0.65);
            height: 100%;

            @include flexbox;
            justify-content: flex-start;

            p {
                color: $grey;
                margin-top: 15px;
                font-size: $font-extra-small;
            }
        }

        .share__list_item_accessbox {
            width: calc(((100% - 210px) * 0.25));
            align-self: center;
            height: 100%;

            @include flexbox;
            justify-content: flex-end;
            position: relative;

            select {
                width: 100%;
                height: 35px;
                background: $white;

                margin-left: 20px;
                padding: 5px;
                -moz-appearance: none;
                -webkit-appearance: none;

                color: $grey;
                outline: none;
                border: $borderGreyLight;
                box-sizing: border-box;
                cursor: pointer;

                &:focus {
                    border: $borderGreyLight;
                    border-color: $blue;
                }
            }

            .share__list_item_accessbox__icon {
                position: absolute;
                right: 8px;
                color: $greyIconsLight;
            }
        }

        .share_listitem_remove_container {
            width: calc(((100% - 250px) * 0.15));
            //background-color: aquamarine;
            margin-left: auto;
            margin-right: 0;
            cursor: pointer;
            color: $grey;
            display: flex;

            button.share_listitem_remove_button {
                background-color: #0f96c3;
                align-self: center;
                color: $white;
                background: #0f96c3;
                margin-left: auto;
                margin-right: 0;
                cursor: pointer;

                background-color: white;
                border: 2px solid #0F96C3;
                color: #0F96C3;
                //   box-sizing: border-box;
                width: 100px;
                height: 40px;

                &:hover {
                    background-color: #0F96C3;
                    color: white;

                }

                span {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 19px;

                }
            }
        }
    }



}