// ------ SIGN UP ------
@import "../../Theme.scss";

.signup{
    height: 100vh;
    background: url("../../../public/images/other/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}