.usercircles{
    width: 100%;
.usercircles_header{


    p{
        text-align:center;
        font-family: "Roboto";
        color: #0f96c3;
        font-size: 28;
        font-weight: 500;
        margin-top: 40px;
        line-height: 33px;
    }
}

}