
@import "../../../src/Theme.scss";

// ------ DashHeader ------
.dashHeader {
  width: 100%;
  height: 60px;

  @include flexbox;
  box-shadow: 0px 8px 10px -10px rgba($grey, 0.3),
    0px -8px 10px -10px rgba($grey, 0.3);

  .dashHeader__fileIcon {
    width: 70px;
    height: 100%;
  }
  .dashHeader__title1 {
    width: calc((100% - 210px) * 0.5);
    height: 100%;

    @include flexbox;
    justify-content: flex-start;

    p {
      color: $grey;
      font-size: $font-small;
      font-weight: 500;
    }
  }
  .dashHeader__middleIcon {
    width: 70px;
    height: 100%;
  }
  .dashHeader__title2 {
    width: calc((100% - 210px) * 0.25);
    height: 100%;

    @include flexbox;
    justify-content: flex-start;

    p {
      color: $grey;
      font-size: $font-small;
      font-weight: 500;
    }
  }
  .dashHeader__title3 {
    width: calc((100% - 210px) * 0.25);
    height: 100%;

    @include flexbox;
    justify-content: flex-start;

    p {
      color: $grey;
      font-size: $font-small;
      font-weight: 500;
    }
  }
  .dashHeader__setings {
    width: 70px;
    height: 100%;
  }
}


// ------ DashItem ------
.dashItem {
  width: 100%;
  height: 60px;

  @include flexbox;
  border-bottom: $borderGreyLight;
  margin-bottom: 5px;

  .dashItem__fileIcon {
    width: 70px;
    height: 100%;

    @include flexbox;

    img {
      height: 35px;
    }
  }
  .dashItem__fileName {
    width: calc((100% - 210px) * 0.5);
    height: 100%;

    @include flexbox;
    justify-content: flex-start;

    p {
      color: $grey;
      font-size: $font-extra-small;
    }
  }
  .dashItem__middleIcon {
    width: 70px;
    height: 100%;

    @include flexbox;

    .dashItem__middleIcon__container {
      cursor: pointer;
      color: $grey;
    }
  }
  .dashItem__title1 {
    width: calc((100% - 210px) * 0.25);
    height: 100%;

    @include flexbox;
    justify-content: flex-start;

    p {
      color: $grey;
      font-size: $font-extra-small;
    }
  }
  .dashItem__title2 {
    width: calc((100% - 210px) * 0.25);
    height: 100%;

    @include flexbox;
    justify-content: flex-start;

    p {
      color: $grey;
      font-size: $font-extra-small;
    }
  }
  .dashItem__setings {
    width: 70px;
    height: 100%;

    @include flexbox;

    .dashItem__setings__container {
      cursor: pointer;
      color: $grey;
    }
  }
}
