//------ User Profile Edit Page ------
@import "../../Theme.scss";

.edit_page {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;

  .profile__container {
    width: 700px;
    height: 1210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px -2px rgba(68, 78, 99, 0.3);
    border-radius: 20px;

    .profile__pic {
      width: 50px;
      background-color: #ffffff;
      display: inline-flex;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      margin-top: 40px;
      align-items: center;

      img {
        height: 150px;
        width: 150px;
        border-radius: 100%;
        border: 2px solid $blue;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
      }
    }

    .profile__heading {
      margin-top: 40px;
      width: 100%;
      display: flex;
      flex-direction: column;

      p1 {
        color: #0f96c3;
        padding-left: 45px;
        padding-bottom: 5px;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
      }

      p2 {
        font-size: 14px;
        line-height: 16.41px;
        font-weight: 400;
        color: #444e63;
        opacity: 0.4;
        padding-left: 45px;
      }

      hr {
        width: 600px;
        border: 1px solid #444e63;
        opacity: 0.3;
        margin-left: 45px;
      }

      input[type="email"] {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: 40px;
        border: 1px solid #444e63;
        opacity: 0.4;
        line-height: 16px;
      }
    }

    .profile__form {
      color: #0f96c3;
      width: 100%;
      padding-left: 45px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;

      input {
        width: 288px;
        height: 40px;
        margin-top: 5px;
        border: 1px solid #444e63;
        opacity: 0.3;
        width: 100%;
      }

      .profile__name, .container {
        width: 100%;
        display: flex;
        margin-top: 22px;

        .first__name {
          width: 40%;
        }

        .last__name {
          width: 40%;
          margin-left: 5.4%;
        }
      }

      .user__name {
        width: 599px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
      }

      .profile__bio {
        margin-top: 22px;
        display: flex;
        flex-direction: column;

        textarea {
          margin-top: 14px;
          height: 200px;
          width: 599px;
          border: 1px solid #444e63;
          opacity: 0.3;
        }
      }

      .profile__dob{
        width: 300px;
        height: 40px;
      }

      .profile__gender{
        margin-left: 20px;

        select{
          margin-top: 4px;
          width: 285px;
          height: 42px;
          cursor: pointer;
          -moz-appearance: none;
          -webkit-appearance: none;
          color: $grey;
                    outline: none;
                    border: $borderGreyLight;
                    box-sizing: border-box;

                    &:focus {
                        border: $borderGreyLight;
                        border-color: $blue;
                    }
        }
      }
    }

    .buttons {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      margin-left: 30%;

      button {
        width: 200px;
        height: 40px;
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }

      button.cancel {
        border: 2px solid #0f96c3;
        color: #0f96c3;
        background-color: #ffffff;
        margin-left: 0%;
      }

      button.save {
        background-color: #0f96c3;
        border: none;
        color: #ffffff;
        margin-right: 10%;
      }
    }

    button.delete {
      width: 200px;
      height: 40px;
      font-size: 12px;
      font-weight: 700;
      background-color: #7d292b;
      color: #ffffff;
      border: none;
      margin-top: 30px;
      margin-left: 65%;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}
