// ------ Task Bar ------
@import "../../../Theme.scss";

.taskbar {
  width: 100%;
  height: 60px;
  border-bottom: $borderGreyLight;
  //   background-color: lightgreen;

  .taskbar__container {
    width: 90%;
    height: 100%;
    // background-color: lightcoral;
    margin: 0px auto;

    @include flexbox;

    .taskbar__fileName {
      width: calc((100% - 420px));
      height: 100%;
      //   background-color: lightblue;

      @include flexbox;
      justify-content: flex-start;

      p {
        color: $grey;
      }
    }
    .taskbar__users {
      width: 200px;
      height: 100%;
      //   background-color: lightcoral;
      @include flexbox;
      justify-content: flex-end;
      position: relative;

      .taskbar__users__online {
        width: 100%;
        height: 100%;
        // background-color: lightcoral;
        @include flexbox;
        justify-content: flex-end;
        .taskbar__user {
          width: 35px;
          height: 35px;
          position: absolute;
          &:nth-child(1) {
            right: 25px;
            z-index: 1;
          }

          &:nth-child(2) {
            right: 50px;
            z-index: 2;
          }
          &:nth-child(3) {
            right: 75px;
            z-index: 3;
          }

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid $red;
          }
        }
      }

      .taskbar__defaultUsers {
        width: 100%;
        height: 100%;
        // background-color: lightgreen;

        @include flexbox;
        justify-content: flex-end;

        .taskbar__defaultUser {
          background-color: $red;

          border-radius: 50%;
          border: 2px solid $red;
          width: 30px;
          height: 30px;

          &:not(:first-child) {
            display: none;
          }
          @include flexbox;
          p {
            color: $white;
          }
        }
      }
    }
    .taskbar__share {
      width: 200px;
      height: 100%;
      //   background-color: lightseagreen;
      @include flexbox;

      button {
        @include ButtonRedDark;
        width: 100%;
      }
    }
    .taskbar__settings {
      width: 20px;
      height: 100%;
      //   background-color: lightblue;

      @include flexbox;
      .taskbar__settings__icon {
        color: $greyIconsDark;
        cursor: pointer;
      }
    }
  }
}
