// ------ DashItem ------
@import "../../../../Theme.scss";

.dashItem {
  width: 100%;
  height: 60px;
  // background-color: lightblue;

  @include flexbox;
  border-bottom: $borderGreyLight;
  margin-bottom: 5px;
  position: relative;

  .dashItem__fileIcon {
    width: 70px;
    height: 100%;
    // background-color: lightpink;

    @include flexbox;

    img {
      height: 35px;
    }
  }
  .dashItem__fileName {
    width: calc((100% - 210px) * 0.5);
    height: 100%;
    // background-color: lightyellow;

    @include flexbox;
    justify-content: flex-start;

    p {
      color: $grey;
      font-size: $font-extra-small;
    }
  }
  .dashItem__middleIcon {
    width: 70px;
    height: 100%;
    // background-color: lightpink;

    @include flexbox;

    .dashItem__middleIcon__container {
      cursor: pointer;
      color: $grey;
    }
  }
  .dashItem__title1 {
    width: calc((100% - 210px) * 0.25);
    height: 100%;
    // background-color: lightyellow;

    @include flexbox;
    justify-content: flex-start;

    p {
      color: $grey;
      font-size: $font-extra-small;
    }
  }
  .dashItem__title2 {
    width: calc((100% - 210px) * 0.25);
    height: 100%;
    // background-color: lightpink;

    @include flexbox;
    justify-content: flex-start;

    p {
      color: $grey;
      font-size: $font-extra-small;
    }
  }
  .dashItem__setings {
    width: 70px;
    height: 100%;
    // background-color: lightyellow;

    @include flexbox;

    .dashItem__setings__container {
      cursor: pointer;
      color: $grey;
    }
  }
  .dashItem__dropdown {
    width: 150px;
    height: 100px;
    // background-color: lightgreen;
    background-color: $white;
    border: $borderGreyLight;
    z-index: 2;
    position: absolute;
    right: 30px;
    bottom: -110px;
    border-radius: 5px;
    box-shadow: 0px 8px 10px -10px rgba($grey, 0.3),
      0px -8px 10px -10px rgba($grey, 0.3);
    padding: 0px 10px;

    @include flexbox;
    flex-direction: column;
    .dashItem__dropdown__item {
      width: 100%;
      height: 40px;
      background-color: lightcoral;
      background-color: $white;
      @include flexbox;
      // border-bottom: $borderGreyLight;
      .dashItem__dropdown__item__icon {
        width: 40px;
        height: 100%;
        background-color: lightblue;
        background-color: $white;
        @include flexbox;
        color: $greyIconsDark;
      }
      .dashItem__dropdown__item__text {
        width: 110px;
        height: 100%;
        background-color: lightseagreen;
        background-color: $white;
        @include flexbox;
        justify-content: flex-start;
        padding-left: 10px;
        cursor: pointer;
      }
    }
  }
}
