// ------ DashSearch ------
@import "../../../../Theme.scss";

.dashSearch {
  width: 100%;
  height: 60px;
  //   background-color: lightblue;

  @include flexbox;

  .dashSearch__button {
    width: calc(((100% - 210px) * 0.5) + 140px);
    height: 100%;
    // background-color: lightyellow;
  }
  .dashSearch__searchbox1 {
    width: calc((100% - 210px) * 0.25);
    height: 100%;
    // background-color: lightseagreen;

    @include flexbox;
    justify-content: flex-start;
    position: relative;

    input {
      width: 100%;
      height: 35px;
      padding: 10px;

      color: $grey;
      outline: none;
      border: $borderGreyLight;
      box-sizing: border-box;
      font-size: $font-small;

      &:focus {
        border: $borderGreyLight;
        border-color: $blue;
      }
    }

    .dashSearch__searchbox1__icon {
      position: absolute;
      right: 8px;
      color: $greyIconsLight;
    }
  }
  .dashSearch__searchbox2 {
    width: calc(((100% - 210px) * 0.25) + 70px);
    height: 100%;
    // background-color: lightyellow;

    @include flexbox;
    justify-content: flex-end;
    position: relative;

    select {
      width: 100%;
      height: 35px;
      //   background-color: $white;
      background: $white;

      margin-left: 20px;
      padding: 5px;
      -moz-appearance: none;
      -webkit-appearance: none;

      color: $grey;
      outline: none;
      border: $borderGreyLight;
      box-sizing: border-box;

      &:focus {
        border: $borderGreyLight;
        border-color: $blue;
      }
    }

    .dashSearch__searchbox2__icon {
      position: absolute;
      right: 8px;
      color: $greyIconsLight;
    }
  }
}
