.popovermenu{
    display: block;
}
.bubble{
    border-top-right-radius: 3px;
    min-width: 100px;
    position: absolute;
    background-color: white;
    color: black;
    border-radius: 3px;
    z-index: 110;
    margin: 6.5%;
    margin-top: -5px;
    right: 0;
    filter: drop-shadow(0 1px 3px rgb(124, 124, 124));
    will-change: filter;
}
.popovermenu:after {
    bottom: 100%;
    right: 7px;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 9px;
}