@import '../../../Theme.scss';

.usercircle {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  .usercircle_header {
    display: flex;
    .user_gear_icon {
      color: rgba(115, 122, 138, 1);
      align-self: flex-end;
      margin-left: 1%;
      font-size: 1.25em;
    }
    .btnEdit {
      align-self: flex-end;
      margin-left: 40%;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }
    .user_circle_edit_icon {
      color: rgba(115, 122, 138, 1);
      font-size: 1.25em;
    }
    p {
      text-align: center;
      font-family: 'Roboto';
      color: #0f96c3;
      font-size: 24px;
      font-weight: 700;
      margin-top: 50px;
      line-height: 33px;
      margin-left: 45%;
    }
  }
  .usercircles_header_container {
    margin-top: 60px;
    margin-left: 60px;
    display: flex;
    width: 100%;
    margin-bottom: 100px;
    // background-color: aqua;
    // padding-top: 42px;

    .circle_type {
      margin-top: 15px;
      width: 20%;
      p1 {
        color: #0f96c3;
        margin-left: 30px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
      }
      p2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
      }
    }
    .usercircles_search_box {
      background: #ffffff;
      border: 1px solid rgba(68, 78, 99, 0.3);
      box-sizing: border-box;
      width: 270px;
      height: 40px;
      margin-left: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      .usercircles_search_form {
        width: 85%;
        form {
          input[type='text'] {
            width: 100%;
            padding: 6px;
            margin-right: 16px;
            border: none;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            &:focus {
              outline: none !important;
            }
          }
        }
      }
      .search_icon {
        color: rgba(199, 202, 208, 1);
      }
    }
    .usercircles_filter_box {
      background: #ffffff;
      border: 1px solid rgba(68, 78, 99, 0.3);
      box-sizing: border-box;
      width: 270px;
      height: 40px;
      margin-left: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      .usercircles_filter_dropdown {
        // font-size: 13px;
        // padding: 10px 8px 10px 14px;
        // background: #fff;
        // border: 1px solid #ccc;
        // border-radius: 6px;
        // position: relative;
        overflow: hidden;
        width: 80%;
        position: relative;
        select {
          appearance: none;
          border: 0px;
          outline: 0px;
          overflow: hidden;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;

          //   background: transparent;
          //   line-height: 1;
          //   border: 0;
          //   padding: 0;
          //   border-radius: 0;
          //   width: 116%;
          //   position: relative;
          //   z-index: 10;
          width: 116%;
        }
      }
      .dropdown_icon {
        color: rgba(199, 202, 208, 1);
      }
    }
    .usercircle__search {
      width: 90%;
      height: 75px;
      // background-color: coral;

      button.usercircle_join_button {
        margin-top: 50px;
        margin-left: -22%;
        background-color: #0f96c3;
        color: $white;
        background: #0f96c3;
        // display: block;
        // margin:auto;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;

        background-color: white;
        border: 2px solid #0f96c3;
        color: #0f96c3;
        //   box-sizing: border-box;
        width: 140px;
        height: 40px;
        &:hover {
          background-color: #0f96c3;
          color: white;
        }
      }
    }
  }
  .User_Circles_List {
    width: 95%;
    min-height: 800px;
    // background-color: lightgreen;
    margin: 0px auto;
    .usercircle__header {
      width: 100%;
      height: 75px;
      // background-color: lightseagreen;
      margin-top: 130px;

      // @include flexbox;
    }
    .usercircle__items {
      width: 100%;
      min-height: 400px;
      // background-color: lightblue;
    }
  }
}
