// ------ Navbar ------
@import "../../Theme.scss";

.navbar {
  width: 100%;
  height: 60px;
  // background-color: lightgreen;
  background-color: $white;

  @include flexbox;
  position: fixed;
  z-index: 5;

  border-bottom: $borderGreyLight;
  .navbar__container {
    width: 90%;
    height: 100%;
    // background-color: lightcoral;

    @include flexbox;

    .navbar__menu {
      width: 40px;
      height: 100%;
      // background-color: lightpink;

      @include flexbox;
      justify-content: flex-start;

      .navbar__menu__container {
        font-size: $font-icon;
        color: $greyIconsDark;
        cursor: pointer;
      }
    }
    .navbar__logo {
      width: calc(100% - 340px);
      height: 100%;
      // background-color: lightseagreen;

      @include flexbox;
      justify-content: flex-start;

      img {
        height: 30px;
        object-fit: contain;
        object-position: center;
      }
    }

    .navbar__username {
      width: 200px;
      height: 100%;
      // background-color: lightpink;

      @include flexbox;
      justify-content: flex-end;

      p {
        color: $grey;
        font-size: $font-medium;
      }
    }

    .navbar__notification {
      width: 60px;
      height: 100%;
      // background-color: lightcoral;

      @include flexbox;

      .navbar__notification__container {
        font-size: $font-icon-small;
        color: $greyIconsDark;
        cursor: pointer;
      }
    }

    .navbar__userimage {
      width: 40px;
      height: 100%;
      // background-color: lightseagreen;

      @include flexbox;
      justify-content: flex-end;

      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid $blue;
        cursor: pointer;
      }
    }
  }

  .navbar__filler {
    width: 100%;
    height: 60px;
    background-color: red;
  }

  .navbar__sidebar {
    height: 100vh;
    width: 100%;
    // background-color: lightcoral;
    position: fixed;
    top: 61px;
    left: 0px;

    z-index: 10;

    .sidebar__rightBorder {
      height: 100vh;
      width: 1px;
      border-right: $borderGreyLight;

      position: absolute;
      left: 349px;
    }
  }
}

.navbar__filler {
  width: 100%;
  height: 60px;
  background-color: $white;
}

@media print {
  .navbar {
    display: none;
  }
}
