@import '../../../Theme.scss';

.vaultshare {
  width: 100%;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;

  .vaultshare_header {
    p {
      text-align: center;
      font-family: 'Roboto';
      color: #0f96c3;
      font-size: 22px;
      font-weight: 700;
      margin-top: 40px;
      line-height: 33px;
    }
  }

  .vaultshare_details {
    margin-top: 100px;
    width: 100%;
    display: flex;
    height: 300px;

    .vaultshare__folderIcon {
      width: 17%;
      // background-color: aqua;
      display: flex;
      justify-content: flex-end;

      img {
        height: 200px;
        width: 200px;
      }
    }

    .vaultshare_details_list {
      margin-top: 48px;
      margin-left: 5%;
      width: 80%;
      // background-color: bisque;
    }

    .vaultshare_details_name {
      padding-bottom: 14px;
      display: flex;

      p1 {
        font-family: 'Roboto';
        color: #0f96c3;
        font-size: 16px;
        font-weight: 400;
      }

      p2 {
        color: #444e63;
        font-style: normal;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
      }
    }

    .vaultshare_details_type {
      padding-bottom: 14px;
      display: flex;

      p1 {
        font-family: 'Roboto';
        color: #0f96c3;
        font-size: 16px;
        font-weight: 400;
      }

      p2 {
        color: #444e63;
        font-style: normal;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
      }
    }

    .vaultshare_details_size {
      padding-bottom: 14px;
      display: flex;

      p1 {
        font-family: 'Roboto';
        color: #0f96c3;
        font-size: 16px;
        font-weight: 400;
      }

      p2 {
        color: #444e63;
        font-style: normal;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
      }
    }

    .vaultshare_details_datemodified {
      padding-bottom: 14px;
      display: flex;

      p1 {
        font-family: 'Roboto';
        color: #0f96c3;
        font-size: 16px;
        font-weight: 400;
      }

      p2 {
        color: #444e63;
        font-style: normal;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .vaultshare_link_group {
    margin-left: 5%;
    margin-top: 40px;
    width: 90%;
    .vaultshare_link_group_header {
      p {
        font-family: 'Roboto';
        color: #0f96c3;
        font-size: 20px;
        font-weight: 700;
        border-bottom: $borderGreyLight;
        padding-bottom: 10px;
      }
    }

    button.vaultshare_link_group_button {
      margin-top: 30px;
      background-color: #0f96c3;
      color: $white;
      background: #0f96c3;
      display: block;
      border: 2px solid #0f96c3;
      width: calc((100% - 210px) * 0.2);
      height: 100%;
      padding: 6px;
      margin-left: auto;
      margin-right: 0;

      span {
        height: 35px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        font-stretch: 1000%;
      }
    }
  }

  .foldershare__header__list {
    width: 91%;
    min-height: 800px;
    // background-color: lightgreen;
    margin: 0px auto;

    .foldershare__header__container {
      width: 100%;
      height: 75px;
      // background-color: lightseagreen;
      margin-top: 50px;

      .foldershare__Header {
        width: 100%;
        height: 60px;
        // background-color: lightblue;

        @include flexbox;
        box-shadow: 0px 8px 10px -10px rgba($grey, 0.3),
          0px -8px 10px -10px rgba($grey, 0.3);

        .foldershare__Header__fileIcon {
          width: 70px;
          height: 100%;
          // background-color: lightpink;
        }
        .foldershare__Header__title1 {
          width: calc((100% - 210px) * 0.5);
          height: 100%;
          // background-color: lightyellow;

          @include flexbox;
          justify-content: flex-start;

          p {
            color: $grey;
            font-size: $font-small;
            font-weight: 500;
          }
        }
        .foldershare__Header__middleIcon {
          width: 70px;
          height: 100%;
          // background-color: lightpink;
        }
        .foldershare__Header__title2 {
          width: calc((100% - 210px) * 0.25);
          height: 100%;
          // background-color: lightyellow;

          @include flexbox;
          justify-content: flex-start;

          p {
            color: $grey;
            font-size: $font-small;
            font-weight: 500;
          }
        }
        .foldershare__Header__title3 {
          width: calc((100% - 210px) * 0.25);
          height: 100%;
          // background-color: lightpink;

          @include flexbox;
          justify-content: flex-start;

          p {
            color: $grey;
            font-size: $font-small;
            font-weight: 500;
          }
        }
        .foldershare__Header__title4 {
          width: calc((100% - 210px) * 0.25);
          height: 100%;
          // background-color: lightpink;

          @include flexbox;
          justify-content: flex-start;

          p {
            color: $grey;
            font-size: $font-small;
            font-weight: 500;
          }
        }
        .foldershare__Header__setings {
          width: 70px;
          height: 100%;
          // background-color: lightyellow;
        }
      }
    }
  }
  .foldershare__items {
    width: 100%;
    min-height: 400px;
    // background-color: lightblue;

    .foldershare__Item {
      width: 100%;
      height: 60px;
      // background-color: lightblue;

      @include flexbox;
      border-bottom: $borderGreyLight;
      margin-bottom: 5px;

      .foldershare__Item__fileIcon {
        width: 70px;
        height: 100%;
        // background-color: lightpink;

        @include flexbox;

        img {
          height: 40px;
          width: 40px;

          border-radius: 50%;
          //border: 2px solid $blue;
          cursor: pointer;
        }
      }
      .foldershare__Item__fileName {
        width: calc((100% - 210px) * 0.5);
        height: 100%;
        // background-color: lightyellow;

        @include flexbox;
        justify-content: flex-start;

        p {
          color: $grey;
          font-size: $font-extra-small;
        }
      }
      .foldershare__Item__middleIcon {
        width: 70px;
        height: 100%;
        // background-color: lightpink;

        @include flexbox;

        .foldershare__Item__middleIcon__container {
          cursor: pointer;
          color: $grey;
        }
      }
      .foldershare__Item__title1 {
        width: calc((100% - 210px) * 0.25);
        height: 100%;
        // background-color: lightyellow;

        @include flexbox;
        justify-content: flex-start;

        p {
          color: $grey;
          font-size: $font-extra-small;
        }
        .user_owner {
          color: rgba(250, 168, 26, 1);
          margin-left: -200%;
        }
      }
      .foldershare__Item__title2 {
        width: calc((100% - 210px) * 0.25);
        height: 100%;
        // background-color: lightpink;

        @include flexbox;
        justify-content: flex-start;

        p {
          color: $grey;
          font-size: $font-extra-small;
        }
      }
      .foldershare__Item__setings {
        width: 70px;
        height: 100%;
        // background-color: lightyellow;

        @include flexbox;

        .foldershare__Item__setings__container {
          cursor: pointer;
          color: $grey;
          button.foldershare___remove_button {
            background-color: #0f96c3;
            color: $white;
            background: #0f96c3;
            // display: block;
            // margin:auto;
            margin-left: -120px;

            background-color: white;
            border: 2px solid #0f96c3;
            color: #0f96c3;
            //   box-sizing: border-box;
            width: 100px;
            height: 40px;
            &:hover {
              background-color: #0f96c3;
              color: white;
            }
            span {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 19px;
            }
          }
        }
      }
    }
  }
}
